.actorImg {
    border-radius: 25%;
    object-fit: cover;
    height: 150px;
}

.col {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-basis: 20%;
}

.card {
    display: flex;
}

.gallery {
    display: flex;
    align-items: stretch;
}